<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570942903985-9tb6lf4738i8omm3uqlnamulbcbsk471.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570942903985-9tb6lf4738i8omm3uqlnamulbcbsk471</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIutYkgwxXcH89zV4pcVdI-8OTmkTJX8</string>
	<key>GCM_SENDER_ID</key>
	<string>570942903985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamsynapse.Synapse</string>
	<key>PROJECT_ID</key>
	<string>synapse-bbfb2</string>
	<key>STORAGE_BUCKET</key>
	<string>synapse-bbfb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570942903985:ios:421a602d06fa4a9b38f490</string>
	<key>DATABASE_URL</key>
	<string>https://synapse-bbfb2.firebaseio.com</string>
</dict>
</plist>